.btn-primary {
    background-color: #FFA600;
    border-color: #FFA600;
}

.btn-primary:hover {
    background-color: #D7FF4F;
    border-color: #D7FF4F;
}

.btn-outline-secondary {
    background-color: #D7FF4F;
    border-color: #D7FF4F;
}

.btn-outline-secondary:hover {
    background-color: #FFA600;
    border-color: #FFA600;
}

.btn-danger {
    background-color: #F736D2;
    border-color: #F736D2;
}

.btn-danger:hover {
    background-color: #8075F8;
    border-color: #8075F8;
}

.bg-primary {
    background-color: #3B9FFF;
}

/* Change the background color of the Bootstrap navbar */
.navbar.bg-primary {
    background-color: #3B9FFF !important;
}

/*Navbar Links*/
.navbar-link {
    color: #D7FF4F !important;
}

/*Logged In as Text*/
.navbar-text.float-right {
    color: #FFFFFF !important;
}



body {
    background-color: #3B9FFF; 
    color: #D7FF4F;
}


h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

p {
    color: #3B9FFF;
}

a {
    color: #D7FF4F;
}
/*Wishlist Items*/
.list-group-item {
    background-color: #F9F9F9;
} */

 .list-group-item-action:hover {
    background-color: #D7FF4F;
}

/* Image thumbnail */
.img-thumbnail {
    background-color: #D7FF4F;
    border:#D7FF4F;
}

/* Box for Wish View */
.d-flex {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 10px;
   
}

.d-flex:hover {
    background-color: #D7FF4F;
    padding: 10px;
}
/*Wish Header Text*/
div.d-flex.flex-column.gap-2 h1 {
   
    color: #FFA600;
}
/*Last updated text*/
div.d-flex.flex-column.gap-2 small  {
    color: #FFA600;
}
/*Wishlist box*/
div.d-flex.flex-column.gap-2:hover {
    background-color: #D7FF4F;
    padding: 10px;
}

div.list-group-item-action:hover {
    background-color: #D7FF4F;
}
/*Wishlist box outline*/
div.list-group-item.list-group-item-action:hover {
    background-color: #D7FF4F;
}

/*Wishlist Button Box*/
div.d-flex.gap-3.py-3  {
    background-color: #3B9FFF;
    border-color: #3B9FFF;
}

#wishlist-3 div.d-flex.gap-3.py-3  {
    background-color: #F9F9F9;
    border-color: #D7FF4F;
}

div.wish-link a {
    color: #3B9FFF !important;
}

h2.wish-title a {
    color: #FFA600 !important;
}

h2.goal-wishes {
    color: #F9F9F9 !important;
}

.alert {
    background-color: #FFA600;
    border-color: #FFA600;
    color: #F9F9F9;
}

.logo {
    display:block;
    margin: 0 auto;
    width: 100px;
    height: auto;
}

.display-5.fw-bold {
    color: #D7FF4F !important;
}