<div id="<%= dom_id wishlist %>">
  <p>
    <strong>Name:</strong>
    <%= wishlist.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= wishlist.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= wishlist.picture %>
  </p>

</div>
