<p style="color: green"><%= notice %></p>

<h1>Wishlist</h1>
<%= link_to "Add a new wishlist", new_wishlist_path, class: "btn btn-primary mb-3" %>

<div class="list-group w-auto">
  <% @wishlists.each do |wishlist| %>
    <%= render wishlist %>
  <% end %>
</div>
